name: "Docker"

on:
  workflow_dispatch:

  push:
    branches: ["master"]

  schedule:
    - cron: "0 8 * * 1"

permissions:
  contents: read

jobs:
  build:
    name: "Build"
    uses: dockette/.github/.github/workflows/docker.yml@master
    secrets: inherit
    with:
        image: "dockette/deploy"
        tag: "${{ matrix.tag }}"
        context: "${{ matrix.context }}"
    strategy:
      matrix:
        include:
          - tag: "deployer8"
            context: "deployer/v8"
          - tag: "deployer7"
            context: "deployer/v7"
          - tag: "deployer6"
            context: "deployer/v6"

      fail-fast: false
